/*
 * ThingSpaceConnectivityManagementAPI.PCL
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ) on 10/05/2016
 */
using System;
using System.Collections.Generic;
using System.Dynamic;
using System.Globalization;
using System.IO;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using ThingSpaceConnectivityManagementAPI.PCL;
using ThingSpaceConnectivityManagementAPI.PCL.Http.Request;
using ThingSpaceConnectivityManagementAPI.PCL.Http.Response;
using ThingSpaceConnectivityManagementAPI.PCL.Http.Client;
using ThingSpaceConnectivityManagementAPI.PCL.Exceptions;
using ThingSpaceConnectivityManagementAPI.PCL.Models;

namespace ThingSpaceConnectivityManagementAPI.PCL.Controllers
{
    public partial class CallbacksController: BaseController
    {
        #region Singleton Pattern

        //private static variables for the singleton pattern
        private static object syncObject = new object();
        private static CallbacksController instance = null;

        /// <summary>
        /// Singleton pattern implementation
        /// </summary>
        internal static CallbacksController Instance
        {
            get
            {
                lock (syncObject)
                {
                    if (null == instance)
                    {
                        instance = new CallbacksController();
                    }
                }
                return instance;
            }
        }

        #endregion Singleton Pattern

        /// <summary>
        /// Stops the platform from sending callback messages for the specified account and service.
        /// </summary>
        /// <param name="vZM2MToken">Required parameter: M2M-MC Session Token</param>
        /// <param name="aname">Required parameter: Account name</param>
        /// <param name="sname">Required parameter: Service name</param>
        /// <return>Returns the CallbackActionResponse response from the API call</return>
        public CallbackActionResponse DeleteUnregisterCallbackUsingDELETE(string vZM2MToken, string aname, string sname)
        {
            Task<CallbackActionResponse> t = DeleteUnregisterCallbackUsingDELETEAsync(vZM2MToken, aname, sname);
            Task.WaitAll(t);
            return t.Result;
        }

        /// <summary>
        /// Stops the platform from sending callback messages for the specified account and service.
        /// </summary>
        /// <param name="vZM2MToken">Required parameter: M2M-MC Session Token</param>
        /// <param name="aname">Required parameter: Account name</param>
        /// <param name="sname">Required parameter: Service name</param>
        /// <return>Returns the CallbackActionResponse response from the API call</return>
        public async Task<CallbackActionResponse> DeleteUnregisterCallbackUsingDELETEAsync(string vZM2MToken, string aname, string sname)
        {
            //the base uri for api requestss
            string _baseUri = Configuration.BaseUri;

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/callbacks/{aname}/name/{sname}");

            //process optional template parameters
            APIHelper.AppendUrlWithTemplateParameters(_queryBuilder, new Dictionary<string, object>()
            {
                { "aname", aname },
                { "sname", sname }
            });


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" },
                { "accept", "application/json" },
                { "VZ-M2M-Token", vZM2MToken }
            };
            _headers.Add("api_key", Configuration.ApiKey);

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.Delete(_queryUrl, _headers, null);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request);
            HttpContext _context = new HttpContext(_request,_response);

            //Error handling using HTTP status codes
            if (_response.StatusCode == 400)
                throw new RestErrorResponseException(@"Error Response", _context);

            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

            try
            {
                return APIHelper.JsonDeserialize<CallbackActionResponse>(_response.Body);
            }
            catch (Exception _ex)
            {
                throw new APIException("Failed to parse the response: " + _ex.Message, _context);
            }
        }

        /// <summary>
        /// Registers a URL where an account will receive RESTFul messages from a platform callback service.
        /// </summary>
        /// <param name="vZM2MToken">Required parameter: M2M-MC Session Token</param>
        /// <param name="aname">Required parameter: Account name</param>
        /// <param name="request">Required parameter: Request</param>
        /// <return>Returns the CallbackActionResponse response from the API call</return>
        public CallbackActionResponse CreateRegisterCallbackUsingPOST(string vZM2MToken, string aname, RegisterCallbackRequest request)
        {
            Task<CallbackActionResponse> t = CreateRegisterCallbackUsingPOSTAsync(vZM2MToken, aname, request);
            Task.WaitAll(t);
            return t.Result;
        }

        /// <summary>
        /// Registers a URL where an account will receive RESTFul messages from a platform callback service.
        /// </summary>
        /// <param name="vZM2MToken">Required parameter: M2M-MC Session Token</param>
        /// <param name="aname">Required parameter: Account name</param>
        /// <param name="request">Required parameter: Request</param>
        /// <return>Returns the CallbackActionResponse response from the API call</return>
        public async Task<CallbackActionResponse> CreateRegisterCallbackUsingPOSTAsync(string vZM2MToken, string aname, RegisterCallbackRequest request)
        {
            //the base uri for api requestss
            string _baseUri = Configuration.BaseUri;

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/callbacks/{aname}");

            //process optional template parameters
            APIHelper.AppendUrlWithTemplateParameters(_queryBuilder, new Dictionary<string, object>()
            {
                { "aname", aname }
            });


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" },
                { "accept", "application/json" },
                { "content-type", "application/json; charset=utf-8" },
                { "VZ-M2M-Token", vZM2MToken }
            };
            _headers.Add("api_key", Configuration.ApiKey);

            //append body params
            var _body = APIHelper.JsonSerialize(request);

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.PostBody(_queryUrl, _headers, _body);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request);
            HttpContext _context = new HttpContext(_request,_response);

            //Error handling using HTTP status codes
            if (_response.StatusCode == 400)
                throw new RestErrorResponseException(@"Error Response", _context);

            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

            try
            {
                return APIHelper.JsonDeserialize<CallbackActionResponse>(_response.Body);
            }
            catch (Exception _ex)
            {
                throw new APIException("Failed to parse the response: " + _ex.Message, _context);
            }
        }

        /// <summary>
        /// Returns the name and endpoint URL of all callback listening services registered for a given account.
        /// </summary>
        /// <param name="vZM2MToken">Required parameter: M2M-MC Session Token</param>
        /// <param name="aname">Required parameter: Account name</param>
        /// <return>Returns the List<Callback> response from the API call</return>
        public List<Callback> ListCallbacksUsingGET(string vZM2MToken, string aname)
        {
            Task<List<Callback>> t = ListCallbacksUsingGETAsync(vZM2MToken, aname);
            Task.WaitAll(t);
            return t.Result;
        }

        /// <summary>
        /// Returns the name and endpoint URL of all callback listening services registered for a given account.
        /// </summary>
        /// <param name="vZM2MToken">Required parameter: M2M-MC Session Token</param>
        /// <param name="aname">Required parameter: Account name</param>
        /// <return>Returns the List<Callback> response from the API call</return>
        public async Task<List<Callback>> ListCallbacksUsingGETAsync(string vZM2MToken, string aname)
        {
            //the base uri for api requestss
            string _baseUri = Configuration.BaseUri;

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/callbacks/{aname}");

            //process optional template parameters
            APIHelper.AppendUrlWithTemplateParameters(_queryBuilder, new Dictionary<string, object>()
            {
                { "aname", aname }
            });


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" },
                { "accept", "application/json" },
                { "VZ-M2M-Token", vZM2MToken }
            };
            _headers.Add("api_key", Configuration.ApiKey);

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.Get(_queryUrl,_headers);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request);
            HttpContext _context = new HttpContext(_request,_response);

            //Error handling using HTTP status codes
            if (_response.StatusCode == 400)
                throw new RestErrorResponseException(@"Error Response", _context);

            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

            try
            {
                return APIHelper.JsonDeserialize<List<Callback>>(_response.Body);
            }
            catch (Exception _ex)
            {
                throw new APIException("Failed to parse the response: " + _ex.Message, _context);
            }
        }

    }
} 