/*
 * ThingSpaceConnectivityManagementAPI.PCL
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ) on 10/05/2016
 */
using System;
using System.Collections.Generic;
using System.Dynamic;
using System.Globalization;
using System.IO;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using ThingSpaceConnectivityManagementAPI.PCL;
using ThingSpaceConnectivityManagementAPI.PCL.Http.Request;
using ThingSpaceConnectivityManagementAPI.PCL.Http.Response;
using ThingSpaceConnectivityManagementAPI.PCL.Http.Client;
using ThingSpaceConnectivityManagementAPI.PCL.Exceptions;
using ThingSpaceConnectivityManagementAPI.PCL.Models;

namespace ThingSpaceConnectivityManagementAPI.PCL.Controllers
{
    public partial class GroupsController: BaseController
    {
        #region Singleton Pattern

        //private static variables for the singleton pattern
        private static object syncObject = new object();
        private static GroupsController instance = null;

        /// <summary>
        /// Singleton pattern implementation
        /// </summary>
        internal static GroupsController Instance
        {
            get
            {
                lock (syncObject)
                {
                    if (null == instance)
                    {
                        instance = new GroupsController();
                    }
                }
                return instance;
            }
        }

        #endregion Singleton Pattern

        /// <summary>
        /// Deletes a device group. Devices in the group are moved to the default device group and are not deleted from the account.
        /// </summary>
        /// <param name="vZM2MToken">Required parameter: M2M-MC Session Token</param>
        /// <param name="aname">Required parameter: Account name</param>
        /// <param name="gname">Required parameter: Group name</param>
        /// <return>Returns the RestSuccessResponse response from the API call</return>
        public RestSuccessResponse DeleteDeviceGroupUsingDELETE(string vZM2MToken, string aname, string gname)
        {
            Task<RestSuccessResponse> t = DeleteDeviceGroupUsingDELETEAsync(vZM2MToken, aname, gname);
            Task.WaitAll(t);
            return t.Result;
        }

        /// <summary>
        /// Deletes a device group. Devices in the group are moved to the default device group and are not deleted from the account.
        /// </summary>
        /// <param name="vZM2MToken">Required parameter: M2M-MC Session Token</param>
        /// <param name="aname">Required parameter: Account name</param>
        /// <param name="gname">Required parameter: Group name</param>
        /// <return>Returns the RestSuccessResponse response from the API call</return>
        public async Task<RestSuccessResponse> DeleteDeviceGroupUsingDELETEAsync(string vZM2MToken, string aname, string gname)
        {
            //the base uri for api requestss
            string _baseUri = Configuration.BaseUri;

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/groups/{aname}/name/{gname}");

            //process optional template parameters
            APIHelper.AppendUrlWithTemplateParameters(_queryBuilder, new Dictionary<string, object>()
            {
                { "aname", aname },
                { "gname", gname }
            });


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" },
                { "accept", "application/json" },
                { "VZ-M2M-Token", vZM2MToken }
            };
            _headers.Add("api_key", Configuration.ApiKey);

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.Delete(_queryUrl, _headers, null);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request);
            HttpContext _context = new HttpContext(_request,_response);

            //Error handling using HTTP status codes
            if (_response.StatusCode == 400)
                throw new RestErrorResponseException(@"Error Response", _context);

            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

            try
            {
                return APIHelper.JsonDeserialize<RestSuccessResponse>(_response.Body);
            }
            catch (Exception _ex)
            {
                throw new APIException("Failed to parse the response: " + _ex.Message, _context);
            }
        }

        /// <summary>
        /// Make changes to a device group, including changing the name and description, and adding or removing devices.
        /// </summary>
        /// <param name="request">Required parameter: Request</param>
        /// <param name="aname">Required parameter: Account name</param>
        /// <param name="gname">Required parameter: Group name</param>
        /// <param name="vZM2MToken">Required parameter: M2M-MC Session Token</param>
        /// <return>Returns the RestSuccessResponse response from the API call</return>
        public RestSuccessResponse UpdateDeviceGroupUsingPUT(
                GroupUpdateRequest request,
                string aname,
                string gname,
                string vZM2MToken)
        {
            Task<RestSuccessResponse> t = UpdateDeviceGroupUsingPUTAsync(request, aname, gname, vZM2MToken);
            Task.WaitAll(t);
            return t.Result;
        }

        /// <summary>
        /// Make changes to a device group, including changing the name and description, and adding or removing devices.
        /// </summary>
        /// <param name="request">Required parameter: Request</param>
        /// <param name="aname">Required parameter: Account name</param>
        /// <param name="gname">Required parameter: Group name</param>
        /// <param name="vZM2MToken">Required parameter: M2M-MC Session Token</param>
        /// <return>Returns the RestSuccessResponse response from the API call</return>
        public async Task<RestSuccessResponse> UpdateDeviceGroupUsingPUTAsync(
                GroupUpdateRequest request,
                string aname,
                string gname,
                string vZM2MToken)
        {
            //the base uri for api requestss
            string _baseUri = Configuration.BaseUri;

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/groups/{aname}/name/{gname}");

            //process optional template parameters
            APIHelper.AppendUrlWithTemplateParameters(_queryBuilder, new Dictionary<string, object>()
            {
                { "aname", aname },
                { "gname", gname }
            });


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" },
                { "accept", "application/json" },
                { "content-type", "application/json; charset=utf-8" },
                { "VZ-M2M-Token", vZM2MToken }
            };
            _headers.Add("api_key", Configuration.ApiKey);

            //append body params
            var _body = APIHelper.JsonSerialize(request);

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.PutBody(_queryUrl, _headers, _body);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request);
            HttpContext _context = new HttpContext(_request,_response);

            //Error handling using HTTP status codes
            if (_response.StatusCode == 400)
                throw new RestErrorResponseException(@"Error Response", _context);

            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

            try
            {
                return APIHelper.JsonDeserialize<RestSuccessResponse>(_response.Body);
            }
            catch (Exception _ex)
            {
                throw new APIException("Failed to parse the response: " + _ex.Message, _context);
            }
        }

        /// <summary>
        /// Returns the name, description, and list of devices in a device group.
        /// </summary>
        /// <param name="aname">Required parameter: Account name</param>
        /// <param name="gname">Required parameter: Group name</param>
        /// <param name="vZM2MToken">Required parameter: M2M-MC Session Token</param>
        /// <param name="next">Optional parameter: Continue the previous query from the pageUrl pagetoken</param>
        /// <return>Returns the GroupListResponse response from the API call</return>
        public GroupListResponse GetDeviceGroupInfoUsingGET(
                string aname,
                string gname,
                string vZM2MToken,
                long? next = null)
        {
            Task<GroupListResponse> t = GetDeviceGroupInfoUsingGETAsync(aname, gname, vZM2MToken, next);
            Task.WaitAll(t);
            return t.Result;
        }

        /// <summary>
        /// Returns the name, description, and list of devices in a device group.
        /// </summary>
        /// <param name="aname">Required parameter: Account name</param>
        /// <param name="gname">Required parameter: Group name</param>
        /// <param name="vZM2MToken">Required parameter: M2M-MC Session Token</param>
        /// <param name="next">Optional parameter: Continue the previous query from the pageUrl pagetoken</param>
        /// <return>Returns the GroupListResponse response from the API call</return>
        public async Task<GroupListResponse> GetDeviceGroupInfoUsingGETAsync(
                string aname,
                string gname,
                string vZM2MToken,
                long? next = null)
        {
            //the base uri for api requestss
            string _baseUri = Configuration.BaseUri;

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/groups/{aname}/name/{gname}");

            //process optional template parameters
            APIHelper.AppendUrlWithTemplateParameters(_queryBuilder, new Dictionary<string, object>()
            {
                { "aname", aname },
                { "gname", gname }
            });

            //process optional query parameters
            APIHelper.AppendUrlWithQueryParameters(_queryBuilder, new Dictionary<string, object>()
            {
                { "next", next }
            });


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" },
                { "accept", "application/json" },
                { "VZ-M2M-Token", vZM2MToken }
            };
            _headers.Add("api_key", Configuration.ApiKey);

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.Get(_queryUrl,_headers);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request);
            HttpContext _context = new HttpContext(_request,_response);

            //Error handling using HTTP status codes
            if (_response.StatusCode == 400)
                throw new RestErrorResponseException(@"Error Response", _context);

            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

            try
            {
                return APIHelper.JsonDeserialize<GroupListResponse>(_response.Body);
            }
            catch (Exception _ex)
            {
                throw new APIException("Failed to parse the response: " + _ex.Message, _context);
            }
        }

        /// <summary>
        /// Returns a list of device groups in an account
        /// </summary>
        /// <param name="vZM2MToken">Required parameter: M2M-MC Session Token</param>
        /// <param name="aname">Required parameter: Account name</param>
        /// <return>Returns the List<GroupResponse> response from the API call</return>
        public List<GroupResponse> GetListUsingGET(string vZM2MToken, string aname)
        {
            Task<List<GroupResponse>> t = GetListUsingGETAsync(vZM2MToken, aname);
            Task.WaitAll(t);
            return t.Result;
        }

        /// <summary>
        /// Returns a list of device groups in an account
        /// </summary>
        /// <param name="vZM2MToken">Required parameter: M2M-MC Session Token</param>
        /// <param name="aname">Required parameter: Account name</param>
        /// <return>Returns the List<GroupResponse> response from the API call</return>
        public async Task<List<GroupResponse>> GetListUsingGETAsync(string vZM2MToken, string aname)
        {
            //the base uri for api requestss
            string _baseUri = Configuration.BaseUri;

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/groups/{aname}");

            //process optional template parameters
            APIHelper.AppendUrlWithTemplateParameters(_queryBuilder, new Dictionary<string, object>()
            {
                { "aname", aname }
            });


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" },
                { "accept", "application/json" },
                { "VZ-M2M-Token", vZM2MToken }
            };
            _headers.Add("api_key", Configuration.ApiKey);

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.Get(_queryUrl,_headers);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request);
            HttpContext _context = new HttpContext(_request,_response);

            //Error handling using HTTP status codes
            if (_response.StatusCode == 400)
                throw new RestErrorResponseException(@"Error Response", _context);

            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

            try
            {
                return APIHelper.JsonDeserialize<List<GroupResponse>>(_response.Body);
            }
            catch (Exception _ex)
            {
                throw new APIException("Failed to parse the response: " + _ex.Message, _context);
            }
        }

        /// <summary>
        /// Creates a new device group and optionally adds a set of devices to that group.
        /// </summary>
        /// <param name="request">Required parameter: Request</param>
        /// <param name="vZM2MToken">Required parameter: M2M-MC Session Token</param>
        /// <return>Returns the RestSuccessResponse response from the API call</return>
        public RestSuccessResponse CreateDeviceGroupUsingPOST(CreateDevGroupRequest request, string vZM2MToken)
        {
            Task<RestSuccessResponse> t = CreateDeviceGroupUsingPOSTAsync(request, vZM2MToken);
            Task.WaitAll(t);
            return t.Result;
        }

        /// <summary>
        /// Creates a new device group and optionally adds a set of devices to that group.
        /// </summary>
        /// <param name="request">Required parameter: Request</param>
        /// <param name="vZM2MToken">Required parameter: M2M-MC Session Token</param>
        /// <return>Returns the RestSuccessResponse response from the API call</return>
        public async Task<RestSuccessResponse> CreateDeviceGroupUsingPOSTAsync(CreateDevGroupRequest request, string vZM2MToken)
        {
            //the base uri for api requestss
            string _baseUri = Configuration.BaseUri;

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/groups");


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" },
                { "accept", "application/json" },
                { "content-type", "application/json; charset=utf-8" },
                { "VZ-M2M-Token", vZM2MToken }
            };
            _headers.Add("api_key", Configuration.ApiKey);

            //append body params
            var _body = APIHelper.JsonSerialize(request);

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.PostBody(_queryUrl, _headers, _body);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request);
            HttpContext _context = new HttpContext(_request,_response);

            //Error handling using HTTP status codes
            if (_response.StatusCode == 400)
                throw new RestErrorResponseException(@"Error Response", _context);

            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

            try
            {
                return APIHelper.JsonDeserialize<RestSuccessResponse>(_response.Body);
            }
            catch (Exception _ex)
            {
                throw new APIException("Failed to parse the response: " + _ex.Message, _context);
            }
        }

    }
} 