/*
 * ThingSpaceConnectivityManagementAPI.PCL
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ) on 10/05/2016
 */
using System;
using System.Collections.Generic;
using System.Dynamic;
using System.Globalization;
using System.IO;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using ThingSpaceConnectivityManagementAPI.PCL;
using ThingSpaceConnectivityManagementAPI.PCL.Http.Request;
using ThingSpaceConnectivityManagementAPI.PCL.Http.Response;
using ThingSpaceConnectivityManagementAPI.PCL.Http.Client;
using ThingSpaceConnectivityManagementAPI.PCL.Exceptions;
using ThingSpaceConnectivityManagementAPI.PCL.Models;

namespace ThingSpaceConnectivityManagementAPI.PCL.Controllers
{
    public partial class SessionController: BaseController
    {
        #region Singleton Pattern

        //private static variables for the singleton pattern
        private static object syncObject = new object();
        private static SessionController instance = null;

        /// <summary>
        /// Singleton pattern implementation
        /// </summary>
        internal static SessionController Instance
        {
            get
            {
                lock (syncObject)
                {
                    if (null == instance)
                    {
                        instance = new SessionController();
                    }
                }
                return instance;
            }
        }

        #endregion Singleton Pattern

        /// <summary>
        /// Returns a new, randomly generated password for the current username
        /// </summary>
        /// <param name="request">Required parameter: Current Password</param>
        /// <param name="vZM2MToken">Required parameter: M2M-MC Session Token</param>
        /// <return>Returns the SessionResetPasswordResponse response from the API call</return>
        public SessionResetPasswordResponse UpdateResetUsingPUT(SessionResetPasswordRequest request, string vZM2MToken)
        {
            Task<SessionResetPasswordResponse> t = UpdateResetUsingPUTAsync(request, vZM2MToken);
            Task.WaitAll(t);
            return t.Result;
        }

        /// <summary>
        /// Returns a new, randomly generated password for the current username
        /// </summary>
        /// <param name="request">Required parameter: Current Password</param>
        /// <param name="vZM2MToken">Required parameter: M2M-MC Session Token</param>
        /// <return>Returns the SessionResetPasswordResponse response from the API call</return>
        public async Task<SessionResetPasswordResponse> UpdateResetUsingPUTAsync(SessionResetPasswordRequest request, string vZM2MToken)
        {
            //the base uri for api requestss
            string _baseUri = Configuration.BaseUri;

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/session/password/actions/reset");


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" },
                { "accept", "application/json" },
                { "content-type", "application/json; charset=utf-8" },
                { "VZ-M2M-Token", vZM2MToken }
            };
            _headers.Add("api_key", Configuration.ApiKey);

            //append body params
            var _body = APIHelper.JsonSerialize(request);

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.PutBody(_queryUrl, _headers, _body);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request);
            HttpContext _context = new HttpContext(_request,_response);

            //Error handling using HTTP status codes
            if (_response.StatusCode == 400)
                throw new RestErrorResponseException(@"Error Response", _context);

            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

            try
            {
                return APIHelper.JsonDeserialize<SessionResetPasswordResponse>(_response.Body);
            }
            catch (Exception _ex)
            {
                throw new APIException("Failed to parse the response: " + _ex.Message, _context);
            }
        }

        /// <summary>
        /// Ends a Connectivity Management session.
        /// </summary>
        /// <param name="vZM2MToken">Required parameter: M2M-MC Session Token</param>
        /// <return>Returns the LogOutRequest response from the API call</return>
        public LogOutRequest CreateLogoutUsingPOST(string vZM2MToken)
        {
            Task<LogOutRequest> t = CreateLogoutUsingPOSTAsync(vZM2MToken);
            Task.WaitAll(t);
            return t.Result;
        }

        /// <summary>
        /// Ends a Connectivity Management session.
        /// </summary>
        /// <param name="vZM2MToken">Required parameter: M2M-MC Session Token</param>
        /// <return>Returns the LogOutRequest response from the API call</return>
        public async Task<LogOutRequest> CreateLogoutUsingPOSTAsync(string vZM2MToken)
        {
            //the base uri for api requestss
            string _baseUri = Configuration.BaseUri;

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/session/logout");


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" },
                { "accept", "application/json" },
                { "VZ-M2M-Token", vZM2MToken }
            };
            _headers.Add("api_key", Configuration.ApiKey);

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.Post(_queryUrl, _headers, null);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request);
            HttpContext _context = new HttpContext(_request,_response);

            //Error handling using HTTP status codes
            if (_response.StatusCode == 400)
                throw new RestErrorResponseException(@"Error Response", _context);

            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

            try
            {
                return APIHelper.JsonDeserialize<LogOutRequest>(_response.Body);
            }
            catch (Exception _ex)
            {
                throw new APIException("Failed to parse the response: " + _ex.Message, _context);
            }
        }

        /// <summary>
        /// Initiates a Connectivity Management session and returns a session token required in subsequent API requests.
        /// </summary>
        /// <param name="request">Optional parameter: request</param>
        /// <return>Returns the LogInResponse response from the API call</return>
        public LogInResponse CreateLoginUsingPOST(LogInRequest request = null)
        {
            Task<LogInResponse> t = CreateLoginUsingPOSTAsync(request);
            Task.WaitAll(t);
            return t.Result;
        }

        /// <summary>
        /// Initiates a Connectivity Management session and returns a session token required in subsequent API requests.
        /// </summary>
        /// <param name="request">Optional parameter: request</param>
        /// <return>Returns the LogInResponse response from the API call</return>
        public async Task<LogInResponse> CreateLoginUsingPOSTAsync(LogInRequest request = null)
        {
            //the base uri for api requestss
            string _baseUri = Configuration.BaseUri;

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/session/login");


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" },
                { "accept", "application/json" },
                { "content-type", "application/json; charset=utf-8" }
            };
            _headers.Add("api_key", Configuration.ApiKey);

            //append body params
            var _body = APIHelper.JsonSerialize(request);

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.PostBody(_queryUrl, _headers, _body);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request);
            HttpContext _context = new HttpContext(_request,_response);

            //Error handling using HTTP status codes
            if (_response.StatusCode == 400)
                throw new RestErrorResponseException(@"Error Response", _context);

            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

            try
            {
                return APIHelper.JsonDeserialize<LogInResponse>(_response.Body);
            }
            catch (Exception _ex)
            {
                throw new APIException("Failed to parse the response: " + _ex.Message, _context);
            }
        }

    }
} 